:root {
  /* Color - Background Color */
  --primary-color: #fb5533;
  /* *** Light */
  --primary-color-light: #fff;
  /* *** Dark */
  --primary-color-dark: #222;

  /* Linear Color */
  --primary-linear-color: -180deg, #f53d2d, #f63;
}
